* {
    background-color: black;
}

.border {
    border: 2px solid green;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 150px 0;
    box-sizing: border-box;
}

.heading {
    margin-bottom: 130px;
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.para {
    color: #ffffff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 20px;
}

.para2 {
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
    overflow-wrap: break-word;
    text-align: center;
    font-family: 'Montserrat';
}

.section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    height: fit-content;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.container1 {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    width: 1400px;
    height: fit-content;
    box-sizing: border-box;
    height: 800px;
}

.card1 {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    margin: 140px 0 0.5px 0;
    display: flex;
    padding-top: 39px;
    width: 460px;
    height: 360px;
    box-sizing: border-box;
}

.cardhead {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background: transparent;
}

.cardhead div,
.cardhead img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: transparent;
    object-fit: cover;
}


.name {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 22px;
    line-height: 2;
    color: rgb(255, 255, 255, 0.6);
    background: transparent;
}

.slide{
    margin: 0 15px;
}

.cardpara {
    /* border: 2px solid red; */
    bottom: 35px;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    left: 50%;
    padding: 10px;
    width: 78%;
}

.card2 {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: 140px;
    display: flex;
    padding-top: 39px;
    width: 460px;
    height: 360px;
    box-sizing: border-box;
}

.card3 {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    display: flex;
    padding-top: 39px;
    width: 460px;
    height: 360px;
    box-sizing: border-box;
}

.card4 {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    margin-bottom: 140px;
    display: flex;
    padding-top: 39px;
    width: 460px;
    height: 360px;
    box-sizing: border-box;
}

/* slider styles */
.slick-slide {
    text-align: center;
    transform: translateY(0);
    transition: transform 0.5s;
}
.slick-active {
    transform: translateY(30%);
}
.slick-current {
    transform: translateY(0%);
}
/* End- slick slider */